{include file="admin/header.html"}
<div class="xdcms_copy">
	<div class="weather"></div>
    <h5>{$adminuser} 您好,欢迎使用网站管理系统</h5>
</div>
<div class="xdcms_index_log">服务器所在时间：{$server["time"]|date_format:'%Y-%m-%d %H:%M:%S'}</div>
<ul class="quick">
	<a href="index.php?m=xdcms&c=creathtml&f=update_index"><li><div><img src="admin/images/quick_1.png" /></div>生成首页</li></a>
    <a href="index.php?m=xdcms&c=language"><li><div><img src="admin/images/quick_2.png" /></div>SEO设置</li></a>
    <a href="index.php?m=xdcms&c=category"><li><div><img src="admin/images/quick_3.png" /></div>栏目管理</li></a>
    <a href="index.php?m=xdcms&c=setting"><li><div><img src="admin/images/quick_4.png" /></div>网站设置</li></a>
    <a href="index.php?m=xdcms&c=data"><li><div><img src="admin/images/quick_5.png" /></div>数据备份</li></a>
    <a href="index.php?m=xdcms&c=update_cache"><li><div><img src="admin/images/quick_6.png" /></div>更新缓存</li></a>
</ul>
<a href="index.php?m=xdcms&c=index&f=left&id=3" target="left" id="xdcms_manage_sumbit_a"><div class="xdcms_manage_sumbit">进入网站内容管理</div></a>
<ul class="xdcms_about">
</ul>
<div class="xdcms_data">
    <dl style="padding-top:20px;">
    	<dd>PHP程序版本：{$server["version"]}</dd>
        <dd>Mysql版本：{$server["mysql_version"]}</dd>
        <dd>最大上传限制：{$server["upload"]}</dd>
    </dl>
</div>
<script src="{$notice}"></script>
</body>
</html>
