<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站后台管理系统--后台管理</title>
<link rel="stylesheet" type="text/css" href="admin/css/top.css">
<script src="admin/js/jquery-1.7.1.min.js" type="text/javascript"></script>
</head>

<body>
<div class="main header">
	<div class="logo"></div>
    <h5>
        <a class="logo_r" href="index.php?m=xdcms&c=setting" target="main">系统设置</a>
        <a class="logo_r" href="/" target="_blank">首&nbsp;&nbsp;页</a>
        <a class="logo_r" href="index.php?m=xdcms&c=login&f=out" target="_parent">退&nbsp;&nbsp;出</a>
        <a class="logo_r" href="javascript:void(0)">使用帮助</a>
        <a class="logo_r" href="javascript:void(0)">关&nbsp;&nbsp;于</a>
    </h5>
</div>
<div class="manage">
    <ul id="ulst">
    {foreach $top_menu as $k=>$v}
        <a {if $k==0}id="on"{/if} class="list" onClick="parent.left.location='{$v.url}';" href="index.php?m=xdcms&c=index&f=main" target="main"><li>{$v.title}</li></a>
    {/foreach}
    </ul>
</div>
<div class="position">
    <h5>后台内容管理</h5>
</div>

<script>
$(".list").click(function(){
$(this).attr("id","on");
$(this).siblings().attr("id","");
});

</script>
</body>
</html>
